.articleLetz{
    margin: 2% 0;
}
.balloon {
    margin-top: 100px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BD8FFF;
    color: rgb(255, 255, 255);
    border-radius: 10px 90px;
    width:600px;
      height:80px;

  }
