.lado{
  text-align: left;
  left: 40px;
}
.content{
  padding:0 10%;
  align-items: center;
}
.balloon {
  margin-top: 100px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BD8FFF;
  color: rgb(255, 255, 255);
  border-radius: 10px 90px;
  width:600px;
	height:80px;
  
}

.article-letz{
  margin: 2% 0;
}
.box-shadow{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width:1120px;
  padding-bottom: 100px;
  margin-bottom: 50px;

}
.left-margin{
  margin-left: 35px;
  margin-top:35px;
}
.linear-gradient {
  width:100%;
  padding:1% 1%;
  background-image: linear-gradient(to right, rgb(149, 179, 255), rgba(	189, 143, 255 ,1));
}

.fot-fix{
  position: fixed;
  bottom: 0;
  left:0;
}