.voteContainer{
  flex-direction: column;
  align-self: center;
  background: #124208f1;
  color:white;
  border-radius: 10px;
  text-align: center;
  width: 10%;
  padding: 5px;
  border: 2px solid #fff;
  box-shadow: 0 0 1em rgb(43, 255, 0);
}

.tieContainer{
  flex-direction: column;
  align-self: center;
  background: #584d1c;
  color:white;
  border-radius: 10px;
  text-align: center;
  width: 10%;
  padding: 5px;
  border: 2px solid rgb(255, 240, 175);
  box-shadow: 0 0 1em gold;
}

.width{
  width: 100%;
  justify-content: center;
  display: flex;
}

.strong{
  font-size: 25px;
  font-weight: bold;

}