.buttonCardUser{
    border-radius:10px;
    border: none;
    border: 3px hsl(266, 100%, 90%) solid;
    transition: 200ms ease-in-out transform;
    background-color: #cca7ff;
    outline: none;
    width: 80px;
    height: 110px;
    font-size: 30px;
    color:white;
}
.buttonCardUser:hover{
    background-color: #9d57ff;
    transform: scale(1.10);
    cursor: pointer;
    box-shadow: 0 0 1em rgba(24, 24, 24, 0.8);
}
.buttonCardUser:focus{
    background-color: #682db9;
    outline: none;
    box-shadow: 0 0 1em rgba(24, 24, 24, 0.8);
}